@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}

header{
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: var(--primarycolor);
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    padding-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
    
}
nav ul li a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
} 
.main_page{
   height: 80vh;
}

.main_page .img{
    width: 100%;
}


.home_content{
    height: 30vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.home_content p{
    text-align: center;
    font-size: 18px;
}
.mainv2{
    height: 140vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  auto;
}
.main2{


    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 30px;
}
.left_section{
    grid-column:1/2 ;
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.right_section{
    grid-column:2/3 ;
    width: 100%;
}
.right_section img{
    height: 100vh;
    width: 100%;
    width: auto;
    object-fit: cover ;
}


footer{
    height: 50vh;
    width: 100%;
    background-color: #AA8972;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
footer h1 {
    text-align: center;
    color: white;
}

footer p {
    text-align: center;
    color: white;
    font-size: 15px;
}

.footer_top{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.formbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

.form__input {
  width: clamp(120px, 30vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }
}

 footer button{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-color: #fff;
    color: #000;
    height: 2.5rem;
    padding: 0 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    text-align: center;
    min-width: 110px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    :hover {
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    }  
    }

.categories{
    height: 60vh;
    width: 95%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 40px;
    }

.cat1{
    grid-column: 1/2;
    grid-row: 1;
    background-color: grey;
}
.cat2{
    grid-column: 2/3;
    grid-row: 1;
    background-color: grey;
}
.cat3{
    grid-column: 3/4;
    grid-row: 1;
    background-color: grey;
}
.cat4{
    grid-column: 4/5;
    grid-row: 1;
    background-color: grey;
}
.cart h2{
    text-align: center;
    margin: 30px;
}

.catimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
/****************BILAL*******************************************************************************************************************************************************************/
.sec1 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.paragraph{
    width: 70%;
    text-align: center;
    margin: 30px auto;
   
}
.sec1 .primarytitle{
font-size: 20px;
margin: auto;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 .container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 30px;
}
.secondarytitle{
    margin: auto;
    font-size: 17px;

}
.imgb{

    height: 80%;
}
/* ahmed ddddddddddddddddddddddddd *************************************/


.op{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 100px;
    background-color: antiquewhite;
}
.why-img{
    width: 50px;
}
.product-why{
display: flex;
justify-content: center;
align-items: center;
}
.all-best-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 48px;
    margin-top: 36px;
    margin-bottom: 72px;
}
.best-selling-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.best-selling-product img:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

} 
.product-name{
    font-weight: 600;
    
}
.product-pris{display: flex;
    gap: 20px;
    margin-bottom: 10px;
    
}
.best-selling-product:hover{
    scale: 1;
}
.product-prix{
    font-weight: 500;
    
}
.product-stock{
    color: #52FF7Bd4;
    font-weight: 500;


}
.h2-sel{
    padding-left: 36px;
}
.best-selling-product img{
width: 300px;}
.chrab{
    color: red;
}
.btn-add-cart{
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #BB9457;
    color: white;

}
.btn-add-cart:hover{
    background-color: rgb(99, 99, 22);
}
.featured{
    font-size: 18px;color: blue;
    margin-bottom: 36px;
    padding-left:24px ;
}
.all-featured-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    margin-bottom: 64px;

}
.featured-products{
display: flex;
flex-direction: column;
align-items: center;
gap: 6px;
}
.categorie-img{
    max-width: 40%;

}

.shop-now-lien{
    color: black;


}
.custmer-review{
    background-color: #F3D5B5;
    padding: 20px 64px;
    margin-bottom: 48px;
}
 .custmer-review-h1{
    color: white;
    font-size: 48px;
 }
 .custmer-review-p{
   font-size: 24px;
   font-weight: 300;
 }
 .custmer-comment{display: flex;
    flex-direction: column;

 }
 .custmer-id{display: flex;
    align-items: center;
    gap:12px ;

 }
 .custmer-img{
width: 50px;
 }
 
 .all-reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
    padding: 24px;
 }
 
 /* product deatils:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
 .item-cmpo{
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
 }
 .product-rvw{
    display: flex;
    gap: 12px;
 }
 .stars{
    width: 60px;
 }

 .p-datils{
    font-size: 16px;
    font-weight: 400;
 }
 .product-detail-img{
width: 400px;
 }

 .all-product-detaill{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px ;
    flex-direction: column;
 }
.detial-btn{
    padding: 16px 36px;
    color:white ;
    background-color:#F3D5B5 ;
border-radius: 4px;
}
.prix-detaill{
    font-size: large;
    font-weight: 600;
    margin-bottom: 12px;
}
.side-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.all-demans{
    width: 1200px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 86px;
    font-size: 24px;
    font-weight: 300;
}
.all-demanss{
    margin-bottom: 25px;
}
.demans{
    display: flex;
   gap: 86px;
}
.dettl{
    padding: 24px;
}
.key-feat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
.queen{
    width: 60px;
}
.tital-key{margin-bottom: 12px;
font-weight: 400;}
.key-p{
    font-weight: 300;
}
.key-grid{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: center;
    gap: 36px;
    padding: 36px;
    margin: auto;
}
.abbt{
    font-weight: 400;
}
.p-abbt{
    width: 500px;
padding: 24px;
margin: auto;}
.midd-key{
    margin: auto;
width: 400px;}
