*{
    padding: 0;
    margin: 0;
}

header{
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: var(--primarycolor);
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    padding-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
    
}
nav ul li a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
} 
.main_page{
   height: 80vh;
   width: 100%;
}

.main_page .img{
    width: 100%;
}

.home_content{
    height: 30vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.home_content p{
    text-align: center;
    font-size: 18px;
}

.main2{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 30px;
}
.left_section{
    grid-column:1/2 ;
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.right_section{
    grid-column:2/3 ;
    width: 100%;
}
.right_section img{
    height: 100vh;
    width: 100%;
    width: auto;
    object-fit: cover ;
}


footer{
    height: 50vh;
    width: 100%;
    background-color: #AA8972;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
footer h1 {
    text-align: center;
    color: white;
}

footer p {
    text-align: center;
    color: white;
    font-size: 15px;
}

.footer_top{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.formbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

.form__input {
  width: clamp(120px, 30vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }
}

 footer button{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-color: #fff;
    color: #000;
    height: 2.5rem;
    padding: 0 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    text-align: center;
    min-width: 110px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    :hover {
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    }  
    }

.categories{
    height: 60vh;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    }

.cat1{
    grid-column: 1/2;
    grid-row: 1;
    background-color: grey;
}
.cat2{
    grid-column: 2/3;
    grid-row: 1;
    background-color: grey;
}
.cat3{
    grid-column: 3/4;
    grid-row: 1;
    background-color: grey;
}
.cat4{
    grid-column: 4/5;
    grid-row: 1;
    background-color: grey;
}
  
/****************BILAL*******************************************************************************************************************************************************************/
.sec1 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.paragraph{
    width: 70%;
    text-align: center;
   
}
.sec1 .primarytitle{
    font-family: 'Times New Roman', Times, serif;
font-size: 30px;
margin: auto;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 20px;
}
.secondarytitle{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;

}
.imgb{

    height: 80%;
}
/*******************************************************************************************************************************************************/