*{
    padding: 0;
    margin: 0;
}

header{
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: var(--primarycolor);
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    padding-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons img{
    height: 45px;
    width: 45px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
    
}
nav ul li a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
} 
.main_page{
   height: 80vh;
}

.home_content{
    height: 30vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.home_content p{
    text-align: center;
    font-size: 18px;
}

.main2{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.left_section{
    grid-column:1/2 ;

    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.right_section{
    grid-column:2/3 ;
    width: 100%;
}
.right_section img{
    height: 100vh;
    width: 100%;
    width: auto;
    object-fit: cover ;
}
/****************BILAL*******************************************************************************************************************************************************************/
.sec1 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec2 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BB9457;
    color: white;
}
/*******************************************************************************************************************************************************/